[2017-08-16 13:58] zaikin-andrew opened #3 "Public Access"
Hi! It's a great plugin! Thanks so much!
Just one trouble.
I have Access Denied when trying sync data. I have full Admin Permission in IAM. Do you have any ideas how to fix it? If I add public write/read access everything works fine.

Also, probably you know how to set Public Access to the bucket with serverless.yml? I tried Canned ACL but it doesn't work for me. http://docs.aws.amazon.com/AmazonS

[2017-08-17 00:32] k1LoW commented on #3
Hi @zaikin-andrew .

Which do you want ?

1. want to access S3 objects via browser.
2. want to access S3 obejcts via aws-cli with IAM.

I can not access your yml file (404) . Could you paste your yml to comment area?

[2017-08-18 14:03] zaikin-andrew commented on #3
@k1LoW

2. want to access S3 obejcts via aws-cli with IAM.

[code]

[2017-08-18 14:33] zaikin-andrew commented on #3
Anytime when I sync files they have encryption ![pic](https://d1ro8r1rbfn3jf.cloudfront.net/ms_87403/RM2GQqIWvQoYQZzIeAXMsk14jGwSTi/S3%2BManagement%2BConsole%2B2017-08-18%2B17-31-34.jpg?Expires=1503153104&Signature=E1MsvdCjKlrtV76-RddeMqDvR274cyvXfY6fHZA1ITOSY6nVLjCNEJ9icIl8XbmLY~isFGPdYnv5PgfgfUg8hR48UTAOwQLUcPljSU8JsNDAl2VRVLCafGrCrkEXCP13Mbdr9dsK~7Di2B4-cNfpEb88eWPcy84RYyCUgYs~4rA5nfdVAH-PiZX2j

[2017-08-18 14:47] zaikin-andrew commented on #3
@k1LoW also
would be cool to add
[code]
from serverless cli profile. I can't sync buckets without public access.

[2017-08-20 07:39] k1LoW commented on #3
It seems serverless-s3-sync manage `${self:provider.environment.BUCKET}`

[code]

### deploy user

IAM User that exec `sls deploy` can acesss `${self:provider.environment.BUCKET}` ( `deploy user` ). because `deploy user` will have `AdminAccess`.

### lambda user

But it seems Lambda IAM User ( `lambda user` ) can not access `${self:provider.environment.BUCKET}`, because `lambda user` have conditio

[2017-11-01 18:46] iDVB opened #6 "Using Ref as bucketName"
It seems like whenever we use something like `{Ref: WebSite}` for the bucketname we get an error like....

`Expected params.Bucket to be a string`

[2017-11-01 23:05] k1LoW commented on #6
Hi @iDVB .
Because, `custom.s3Sync.bucketName` is **NOT** `resources` section.

Best regards.

[2017-11-06 13:00] iDVB commented on #6
@k1LoW indeed. However, it is the custom variable variable section where it is also valid to use CloudFormation `Ref`s. Which works with plain vars and with many other plugins.... just not this one.

As mentioned in the [docs](https://serverless.com/framework/docs/providers/aws/guide/plugins/)...

So if you wanted to support this, you could, you just need to wait for later hook.  In the mean time,

[2017-11-12 09:11] tommedema commented on #6
@iDVB your request is totally valid, but it is not a good idea to use `${cf:}`. Reason is that this won't work if your s3 bucket has not yet been created.

Following basic infrastructure as code principles, it should not be important whether the resource you are referencing to has been created or not. If it is not, it should be created automatically. Unfortunately this is not how `${cf}` works, bu

[2017-11-13 14:32] iDVB commented on #6
@tommedema Thanks.
Yes, ${cf} is just a bandaid until we can either patch or fork `serverless-s3-sync`.

@k1LoW would you accept a PR if we add this feature?

[2017-11-13 23:57] k1LoW commented on #6
@iDVB

YES!!! I’m so excited about PR!!!

[2018-04-14 09:21] alexandrusavin opened #10 "Add the possibility to update the props of uploaded files"
I'd like to add the possibility to update props of uploaded files in order to for example add custom headers.

I have a PR for this (https://github.com/k1LoW/serverless-s3-sync/pull/9).

Would love to get some feedback and get it merged if everything is fine.

Thanks!

[2018-04-18 11:17] gitgoose opened #11 "sync wont work"
sls s3sync command does not seem to work for me..Help appreciated!!

sls version 1.26.1
python 3.6
"serverless-s3-sync": "^1.4.0"

Config :
custom:
  pythonRequirements:
    dockerizePip: true
  defaultStage: dev
  currentStage: ${opt:stage, self:custom.defaultStage}
  s3Sync:
    - bucketName: ${file(configs/config.${self:custom.currentStage}.json):syncBucketName}
      localDir: required-artifac

[2018-04-20 12:29] alexandrusavin commented on #11
I would actually label this as "Help wanted" because it not a bug. This should help you: https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/node-configuring-proxies.html.

[2018-04-21 07:05] k1LoW commented on #11
@alexandrusavin Thank you!

[2018-04-24 13:53] gitgoose commented on #11
@alexandrusavin @k1LoW
You suggesting to edit the module to include this.If so where?
I thought it should pick it from env vavriables. Also i am using a serverless python project.
I believe its a bug

[2018-04-25 10:11] alexandrusavin commented on #11
@gitgoose you are right, this is a bug. The problem is that `serverless-s3-sync plugin` is not using the aws sdk provided by serverless api. Ex:
[code]

This will then make sure to consider the `HTTP_PROXY` env variable (see here: https://github.com/serverless/serverless/blob/master/lib/plugins/aws/provider/awsProvider.js#L132).

@k1LoW I would change the lable of this issue back to `bug`

[2018-04-25 10:44] alexandrusavin commented on #10
Thanks @k1LoW for merging this!

[2018-04-25 10:44] #10 closed

[2018-04-25 17:35] GuidoS commented on #11
[code]

only works with the default profile, it doesn't use region/key/secret from the profile associated in the YML.

[2018-04-25 18:39] alexandrusavin commented on #11
@GuidoS @k1LoW I’m preparing a PR. Should be ready in a couple of hours.

[2018-04-25 18:44] alexandrusavin commented on #11
Here it is actually https://github.com/k1LoW/serverless-s3-sync/pull/12

[2018-05-01 00:07] gitgoose commented on #11
@alexandrusavin @GuidoS
It still does not seem to work for me beind proxy
node_modules/@monolambda/s3/node_modules/aws-sdk/lib/request.js:31
            throw err;
            ^

Error: connect ETIMEDOUT 52.216.161.147:443
    at Object._errnoException (util.js:1022:11)
    at _exceptionWithHostPort (util.js:1044:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1198:14)

[2018-05-01 07:50] alexandrusavin commented on #11
@gitgoose can you share the configuration? It should work if you set HTTPS_PROXY.

[2018-05-03 03:06] dohomi opened #14 "The specified bucket does not exist error message"
Hello,

I'd like to try this plugin but after initial yml setup I receive following error message:
  The specified bucket does not exist
Does this package handle the creation/update of a folder somehow? I guess some BucketPolicy is missing but the README does not mention it. I'm new to serverless would be great to find some resource here

[2018-05-14 08:18] alexandrusavin commented on #11
@k1LoW can you please check this PR https://github.com/k1LoW/serverless-s3-sync/pull/16? It might be related to @gitgoose 's problem.

[2018-06-15 23:25] aldarund opened #17 "Exclude files"
Is it possible to exclude files by pattern\directory? For example i dont want to upload source map

[2018-07-11 06:59] bzemms opened #18 "Crash! callback called twice"
eg.

 s3Sync:
    - bucketName: bucket1
      bucketPrefix: prefix1
      localDir: dir1

    - bucketName: bucket1
      bucketPrefix: prefix2
      localDir: dir2

    - bucketName: bucket1
      bucketPrefix: prefix3
      localDir: dir3

`S3 Sync: Syncing directories and S3 prefixes...
..../usr/local/lib/node_modules/serverless/node_modules/aws-sdk/lib/request.js:31
            throw err;

[2018-08-15 13:36] jefftham opened #19 "add support of Fn::ImportValue"
i proposed to add support of cloudformation Fn::ImportValue.

eg.
[code]

[2018-09-04 21:59] dnovicki opened #20 "Add permission for Bucket Policy"
Is this in the road map? Is there a workaround through serverless?

[2018-09-11 17:13] #20 closed

[2018-09-27 17:56] nickbas opened #23 "Error: ETag does not match MD5 checksum"
## Error: ETag does not match MD5 checksum
#### I am seeing the following error when using this module. I see that the files sync to s3 just fine, however this error still occurs while the 'S3 Sync: Syncing directories and S3 prefixes' is occurring. The error seems to be random when it occurs. 85% of the time it is occurring. It seems like an error that doesn't mean anything related the syncing, b

[2018-10-15 16:07] nicpillinger opened #24 "Access Denied"
My deploy account has full aws admin access and yet when it gets to the s3 sync part it fails with access denied?
https://www.dropbox.com/s/1o4w2g0ohvdhfwn/Screenshot%202018-10-15%2017.06.37.png?dl=0

My yaml is very simple - here's the relevant bits:

[code]

The s3 bucket is created as part of the standard serverless deploy and I can see it in aws - I can't see what s3-sync is doing which is fai

[2018-10-26 14:48] laran opened #25 "Audit vulnerability through dependency"
I just installed serverless-s3-sync and was prompted with an audit warning through a dependency. Just wanted to mention it. Maybe it's an easy fix?

[code]

[2018-11-27 10:57] biddster commented on #23
I've traced this through a little.

This module depends on the @monolambda fork of `andrewrk/node-s3-client`. There's a pull request outstanding on `andrewrk/node-s3-client` here https://github.com/andrewrk/node-s3-client/pull/166 which disables the ETag checks when deploying to a KMS enabled bucket.

Wonder if @monolambda would consider merging https://github.com/andrewrk/node-s3-client/pull/166

[2019-01-24 09:37] jpetitcolas commented on #14
I also had something similar:

[code]

The reason was that I deleted a weird serverless S3 bucket, with a name such as `mybucketname-staging-serverlessdeploymentbucket-xxxxx`. But apparently, `serverless` uses this as a kind of referential to store its configuration (didn't find any documentation in regards to this specific bucket).

The solution is to relaunch a `serverless create` command.

[2019-01-24 10:08] jpetitcolas commented on #14
And you may also have to remove the created CloudFormations: https://console.aws.amazon.com/cloudformation/home?region=us-east-1#/stacks?filter=active

[2019-02-24 00:47] kabo commented on #24
Having the same issue, the user is allowed to `s3:*` on `*`, can't see why it's not working...

[2019-02-28 23:59] icarus-sullivan commented on #24
Just installed with no issues. Check to make sure you have aws credentials on your machine. https://docs.aws.amazon.com/sdk-for-java/v1/developer-guide/setup-credentials.html

[2019-03-02 07:00] kabo commented on #24
I think it may be related to the fact that our bucket policy doesn't allow unencrypted uploads.

BucketPolicy:

[code]

Our aws cli command that works:

[code]

[2019-03-13 16:58] Horgix opened #29 "Support syncing single file"
# Feature request - Support syncing single file

## Need

I would like to use this plugin to **sync a single local _file_** to an S3 bucket created by Serverless. However, this plugin **only supports syncing _directories_**, as stated in the description.

Would you be open to **extending this plugin so it can also sync simple files?**

## Contribution

I've already modified it on my side to make i

[2019-03-30 21:06] mpvosseller commented on #6
I'd love to use this plugin without having to know the S3 bucket name as well. A possible implementation could be to have the user Output the bucket name and provide the key to the plugin so it can read it. `serverless.yml` might look something like this:

[code]

The [serverless-cloudfront-invalidate plugin](https://github.com/aghadiry/serverless-cloudfront-invalidate) does something nearly ident

[2019-04-21 09:54] tobilg commented on #25
I created a PR for this: https://github.com/k1LoW/serverless-s3-sync/pull/30 @k1LoW

[2019-04-23 05:50] k1LoW commented on #25
@tobilg Thank you!!!

[2019-04-23 05:50] #25 closed

[2019-05-20 18:20] kevlarr commented on #24
I ran into this just now, and the problem is that I don't use the `[default]` profile of my `~/.aws/credentials` file. (Reason being the "default" is personal and I have a few others that are work-related.)

Assuming I want to deploy using a profile named `[test1]`, this works with regular Serverless:

[code]

But the moment you add `serverless-s3-sync` to the mix, trying to pass a custom AWS prof

[2019-05-24 15:55] TimLudwinski commented on #17
👍 I'm uploading to a bucket used for EMR/pyspark and it uploads the *.pyc and the timestamps on the files are off so the *.pyc files (which are outdated) now have a newer in s3 than the *.py files.  It would be nice if I could exclude these files rather than having to delete or update all *.pyc files before I deploy.

[2019-07-17 23:12] tremby opened #31 "Cache-control headers not getting set"
We're using serverless-s3-sync along with gatsby-plugin-s3 to deploy a site to S3 and Cloudfront.

In serverless.yml:

[code]

If I look in `.cache/s3.params.json` it all looks as expected: (reformatted)

[code]

Yet the files which end up on S3, which certainly match those paths (such as `static/1-52e5afcd825a509c9e73.js`) only have one metadata attached, the Content-Type.

Feels like there's som

[2019-07-18 00:07] tremby commented on #31
Discoveries since my previous message:

- Those globs look very suspect. `**.js` isn't valid is it? I thought double-stars were only for directories, not filenames
- It's an object, not an array. The example has an array, and the source code looks like it expects an array.
- Our test with the example params in your readme didn't seem to help, but I've since discovered that metadata doesn't appear

[2019-08-14 09:39] programmer04 commented on #29
Howdy @Horgix @k1LoW
What is the status of this issue? This feature will be useful also for me ;) Could @Horgix send this PR? I think `localDir` can be reused for single files too (only mention this in docs).

[2019-08-15 13:57] k1LoW commented on #29
@Horgix sorry for too late repry 🙏

`localPath` is good idea !

I think

- create `localPath` that allow dir and single files.
- show deprecation message if using `localDir`

[2019-11-13 19:19] jannylund opened #35 "Cache-Control headers not updated if files have not changed."
If you first sync a folder via s3sync, then edit the metadata via params, the changes are not reflected in S3. Solution is to delete file manually from S3 and it will get the proper settings on next run.

On first run I had:
[code]

Then to disable cache, I updated to:
[code]

EDIT: This seems to also be the behavior of calling `aws s3 sync...` and passing a cache-control parameter. Unless file is

[2019-11-14 14:25] #31 closed

[2019-12-23 23:46] luludan opened #38 "Validation errors when specifying cache-control"
I'm trying to specify cache-control headers with this syntax:

[code]

But am getting this error when trying to run `sls deploy`

[code]

Not sure quite what I'm doing wrong here

[2019-12-31 16:22] trilom commented on #35
## The Problem

I've done a fair bit of research into this and trying to come up with a reasonable solution.

The bottom line of what is happening here is that this plugin is using the `@auth0/s3` repository for the S3 interactions.  This isn't the problem but the problem is that this plugin uses the `uploadDir(params)` function of this repository.  This function's underlying S3 call is [putObject

[2020-01-05 06:51] #35 closed

[2020-01-08 15:46] gs11 opened #41 "NoSuchKey during deployment"
Since version 1.10.1 deployments fail with a *NoSuchKey* error

[code]

[2020-01-11 03:06] trilom commented on #41
Looking at this the only thing I see weird is the key path, and I can't see 100% the copySource.

Here is a healthy request.
[code]

It should be that the CopySource is the path to the resource including the bucket name in S3.  So if the S3 location is *s3://bucketName/test.js* then CopySource should be *bucketName/test.js*.  The key is the path to the file after the bucketName and forward slash (

[2020-01-12 11:30] nibynool commented on #41
That fixed the issue for me @trilom (the slash on the end of the `localDir` value).

Any chance a future version could auto-detect for the slash there as the error is unclear without your explanation.

[2020-01-13 11:50] gs11 commented on #41
In my case localDir has no trailing slash but it can't make out sure what triggers the issue.

[2020-01-15 21:39] trilom commented on #41
@nibynool yes, it’s in my radar at some point to resolve once I have free time.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-15 21:39] trilom commented on #41
@gs11 could you provide more information here, the error and sls.yml will help, snippets of course.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-17 15:27] gs11 commented on #41
Sure @trilom

**serverless.yml**
[code]

**Error**

[code]

[2020-01-23 10:22] nibynool opened #43 "When updating metadata the content-type is dropped"
The new functionality for updating metadata does not contain the required settings for Content-Type.

[2020-01-23 11:03] nibynool commented on #43
Further to this I noticed it affects all file/glob level parameters.

[2020-01-27 14:32] robinvw1 commented on #41
@gs11 can you check if it's fixed with v1.10.2 now? @nibynool his PR is merged by @k1LoW.

[2020-01-29 10:22] gs11 commented on #41
Unfortunately it failed with the very same config/output as above @robinvw1

[2020-01-29 10:29] nibynool commented on #41
@gs11 I'll test it out and see if I can replicate the issue.  I might not get to it until the weekend though.

[2020-01-29 11:15] nibynool commented on #41
@gs11 can you please test by updating the package.json to reference:
`"serverless-s3-sync": "github:nibynool/serverless-s3-sync#d9e5eb805e8e8bdaa515cba226f2dabe6de97587",`.  Post merge of the PR you will be able to change this back to using the official version.

I've tested my revised code with your config file but I dropped the Cloudfront Distribution for testing (this shouldn't impact the deplo

[2020-01-29 11:20] nibynool commented on #43
Resolved in v1.10.2

[2020-01-29 11:20] #43 closed

[2020-01-29 12:06] gs11 commented on #41
Thanks for swift feedback! Tested successfully with that branch version 👍 @nibynool

[2020-02-06 16:49] joyfulelement opened #46 "CacheControl header and other additional header turned into User-defined metadata?"
Hi, the use case is to set the **System metadata** for objects uploaded on S3 buckets. However, the result turned into **User-defined metadata** with prefix `x-amz-meta-` which is not expected.

e.g.

[code]

Turned into:

![Screen Shot 2020-02-06 at 11 47 13 AM](https://user-images.githubusercontent.com/5963818/73958823-7e74b380-48d6-11ea-9245-98aa4f367e25.png)

while the existing system metadata

[2020-02-12 17:23] PraveenAsh opened #48 "Bucket not found"
In the latest version,
The bucket name isnt being read unless globally installed. When rolled back to v1.7.2 works just fine.

It directly throws error msg stating,
[code]

Please keep the backward support on.
@k1LoW @nibynool

[2020-02-13 04:43] k1LoW commented on #48
Hi @PraveenAsh .

- Could you show me serverless.yml (`s3Sync:` ) ?
- What is the latest version that works in your environment? ( 1.7.2 -> OK, 1.7.3 -> NG? )

[2020-02-13 09:02] ergousha opened #49 "Lifecycle"
Using hooks, I run a bash script to update a file with an endpoint address. I want to run s3-sync after updating the file. However s3-sync runs at first uploading the old file. How can I control the sequence of running?

[2020-02-14 07:42] PraveenAsh commented on #48
serversless.yml :
[code]

The custom variables exist but don't get picked. But the credentials exist in the environment with aws prefix.

The latest that failed was `v1.10.2` but works fine in `v1.7.2`
OS : Catalina, MacOS

[2020-02-14 10:32] Nemo64 commented on #48
I probably have the same issue. If I remove `params` it syncs assets fine but without metadata of course.

[2020-02-14 10:33] nibynool commented on #48
@PraveenAsh it would be great to know what the earliest version is that fails and the latest version that works.  It helps to narrow down where a code change has had an unexpected impact.  At the moment the range you have provided is "somewhere between 1.7.2 and 1.10.2".

1.7.2 was released over 1 year ago, there have been 8 versions released since then, and 1.10.2 was released less than 3 weeks a

[2020-02-14 10:36] nibynool commented on #48
@Nemo64 it sounds like you have a different issue.  Please create a new issue for it, but I would suggest checking out #41 as I think that could be the issue you are facing (there's a fix at the end of that issue)

[2020-02-14 10:38] nibynool commented on #48
As a side note to this.  I have no formal involvement in this project, but I am happy to assist where I can.  If @k1LoW overrides anything I say then please honour his wishes above mine.

[2020-02-14 10:40] Nemo64 commented on #48
@nibynool i'm not sure, i get the same error as @PraveenAsh :
[code]

[2020-02-14 10:45] nibynool commented on #48
Ahhh, thanks for the extra context @Nemo64.  This should be resolved by PR #45 (there was a bug in my code that went into 1.10.2).  https://github.com/k1LoW/serverless-s3-sync/issues/41#issuecomment-579708969 should allow you to work around the problem until it is merged and tagged.  If it works can you please confirm in this thread so there is some additional verification it solves the issues exp

[2020-02-14 10:51] nibynool commented on #38
@luludan, sorry for the late reply.  I think you need to indent the `CacheControl` lines by an additional 2 spaces.

If this doesn't work can you please advise what version you're using?
If you're no longer using the plugin or have resolved the issue please close the issue.

Thanks.

[2020-02-14 10:55] nibynool commented on #46
This should be setting the System metadata correctly.  What version of the plugin are you using?

[2020-02-14 11:01] nibynool commented on #49
I'm not sure how best to handle this.  The hooks used by this plugin are defined at https://github.com/k1LoW/serverless-s3-sync/blob/d424ac4eff73b44c6b6dbf01e8c690a920c3d048/index.js#L29

You could make sure that your bash script is using hooks that are defined earlier in the process, or you may need to look at how SLS prioritises the hook order (they may be run in parallel).

Apart from pointing

[2020-02-14 11:03] nibynool commented on #49
I should add, in my CI/CD pipeline I run `sls deploy --nos3sync` as one step and then `sls s3sync:sync` as an additional step.  This may do what you want if you run your bash script between the two phases.

[2020-02-14 11:56] Nemo64 commented on #48
Nope, doesn't resolve it. It has something to do with params.
Just for fun, i used version `1.7.2`, like @PraveenAsh said and (kinda) works. It doesn't update but on create it'll set metadata.
Then I went though the versions and found that `1.10.0` is the first failing version, `1.9.2` works fine.

[2020-02-14 12:07] nibynool commented on #48
The change between 1.9.2 and 1.10.0 was to add functionality to allow the update on change, so the 1.9.2 version should suffice for now.

I had some issues with 1.10.1 and added a fix for these, but in the process introduced a new bug and that became part of 1.10.2.  I have created the PR #45 to fix these, and I believe the fix included the No Such Bucket issue.

I'm not sure of your level of know

[2020-02-14 12:09] PraveenAsh commented on #48
Deployment failing in `v1.10.3` to. Back to square one. Just tested.

Same Error :
[code]

[2020-02-14 12:11] nibynool commented on #48
I think the issue is likely related to the `bucketPrefix` at this point.  I will try to investigate further.  If anyone else has some time to look into it, it will be in the `syncMetadata` function in `index.js` likely around line 235.

[2020-02-14 12:16] nibynool commented on #48
The current code expects the `bucketPrefix` to be prepended with a `/` and not have a trailing one.

Can you try changing the slash from the end of the prefix to the start of it.  I will investigate adding better detection for leading and trailing slashes in the prefix if someone doesn't beat me to it.

[2020-02-14 12:19] Nemo64 commented on #48
@nibynool a missing leading slash seems to be the issue 👍

[2020-02-14 22:38] nibynool commented on #48
@PraveenAsh and @Nemo64, I have created PR #50 to fix this.  Can you please update your `package.json` to contain `"serverless-s3-sync": "github:nibynool/serverless-s3-sync#bucket-prefix-slashes"` and let me know if that fixes the issue (I don't have a test project for this use case at this time).

If it doesn't fix the issue I will create a proper test case and try to resolve it.  If it does fix

[2020-02-14 22:41] nibynool commented on #41
@gs11 can you update to the latest release version and then close this issue if you're happy with the solution.  Thanks.

[2020-02-15 08:07] PraveenAsh commented on #48
@nibynool works. I have verified it. Good to merge I guess.

Close the issue on review from @Nemo64.
@nibynool @k1LoW thanks for the support.

[2020-02-15 10:08] gs11 commented on #41
Thanks!

[2020-02-15 10:08] #41 closed

[2020-02-15 15:17] Nemo64 commented on #48
I can confirm, the `bucket-prefix-slashes` branch fixes it.

[2020-02-15 17:40] PraveenAsh commented on #48
Bug fixed will most likely be available from 1.10.4 onwards(Should be coming out soon).

Closing issue. Reopen when such a time comes.

[2020-02-15 17:40] #48 closed

[2020-02-17 10:36] PraveenAsh commented on #48
Merge the branch and give a new release.

@nibynool @k1LoW

[2020-02-28 16:04] tylerzey opened #52 "The S3 option deleteRemoved is not documented in the readme"
Hi there!

I was having an issue with this plugin removing js files from a create-react-app deploy.

Users would have these files cached and they would then 404 on after a deploy because serverless-s3-sync defaults to deleteRemoved: true.

https://github.com/k1LoW/serverless-s3-sync/blob/master/index.js#L80

Are you open to a PR that outlines this option in the readme? It took me some source divin

[2020-02-28 16:43] k1LoW commented on #52
Hi @tylerzey !  Thank you for your report !!!

Yes !!

[2020-03-03 09:30] nibynool commented on #6
Two PRs have mentioned this issue.  Can this issue be closed now?

[2020-03-03 09:32] nibynool commented on #14
@dohomi has this issue been resolved?  If so, could you perhaps close it? :)

[2020-03-03 09:41] nibynool commented on #49
@ergousha if you are happy with my response as a resolution can you please close this issue?  If you feel it needs a better response can you please provide some additional information as to how you would like it actioned.

[2020-03-03 09:47] #49 closed

[2020-03-04 01:45] dohomi commented on #14
@nibynool I moved to different approach will close this one

[2020-03-04 01:45] #14 closed

[2020-03-11 09:45] danielbayerlein commented on #38
Adding two additional spaces works for me!

[2020-03-24 15:46] mdsadiq commented on #18
@k1LoW  any updates on this issue ?

[2020-04-19 11:59] trollderius opened #54 "Please allow "sls s3sync --stage""
Allow to define "--stage" on "sls s3sync"

[2020-04-19 12:08] trollderius commented on #54
oh I see, there is a bug

I have something like:
`${self:provider.stage}-static`

But prints this:
`nuxt-staging'}-static`

[2020-04-19 12:12] #54 closed

[2020-04-29 13:41] lsanders opened #57 "double sync"
I have just a single budket/prefix defined, but end up the the files from build in both the root AND the bucketPrefix and have the following log in serverless deploy

[code]

Here's the relevant config:
[code]

This deployed via bitbucket pipelines but I don't think that matters.

[2020-05-01 09:02] Jaffa opened #58 "Move hook to before:deploy:finalize rather than after:deploy:deploy"
I'm attempting to have a single source project containing both React app and serverless spec, and have `sls deploy`:

1. Deploy backend resources to AWS
2. Use [`serverless-stack-output`](https://github.com/sbstjn/serverless-stack-output) to update React app with details from CloudFormation
3. Run `npm build`
4. Use `serverless-s3-sync` to copy the React `build/` directory up to S3.

Currently bot

[2020-05-01 09:07] Jaffa commented on #58
Alternatively, it might be related to https://github.com/sbstjn/serverless-stack-output/issues/18 ?

[2020-05-01 09:23] Jaffa commented on #58
Yep, the above is an issue of:

* Ordering in `serverless.yml`
* Using a version of `serverless-stack-output` that uses a promise (e.g. [`@lucas-carneiro/serverless-stack-output`](https://github.com/lucas-carneiro/serverless-stack-output))

[2020-05-01 09:23] #58 closed

[2020-05-05 11:28] coyoteecd opened #60 "Support S3 bucket tag updates"
Use case:

- main repo deploys CloudFormation stack, which includes S3 bucket necessary for SPA web app
- web app repo uses a minimal serverless.yml with serverless-s3-sync plugin to build the SPA web app and publish the files to the existing S3 bucket created by main repo

I'd like to write/update a tag on the S3 bucket, containing information from the web app repo at the time of copying files. F

[2020-05-05 14:19] k1LoW commented on #60
Hi @coyoteecd !! GREAT !! LGreatTM !!

[2020-05-06 12:39] #60 closed

[2020-05-08 16:47] coyoteecd commented on #38
@k1LoW Can confirm that indenting CacheControl as shown above works correctly (and this is how it's documented in the readme). I think you can close this.

[2020-05-08 17:39] #19 closed

[2020-05-08 17:40] #52 closed

[2020-05-08 17:40] k1LoW commented on #38
@coyoteecd Thank you !!

[2020-05-08 17:40] #38 closed

[2020-05-09 01:51] nibynool commented on #57
@lsanders the log you provided is showing the two steps used to sync, so that is expected.

If you've changed the bucket prefix, then the files may still be in place from a previous deploy.  Can you please verify that you've deleted the files from the root and then re-sync.  If the problem persists either @k1LoW or I can try to replicate it and then work out the bug.

[2020-05-19 22:40] Mortalife opened #66 "Use Serverless App AWS credentials"
It would appear that the sync is done via local user AWS credentials, whereas the rest of the serverless deploy/remove chain uses the credentials I have stored against my account in the serverless dashboard.

Is there something I'm missing that prevents s3sync using these credentials?

[2020-05-20 00:17] Mortalife commented on #66
Resolved the issue by modifying this line:
https://github.com/k1LoW/serverless-s3-sync/blob/master/resolveStackOutput.js#L6

I don't have a `credentials` object on the `getCredentials()` call.

Your Environment Information ---------------------------
     Operating System:          win32
     Node Version:              12.16.1
     Framework Version:         1.71.1 (standalone)
     Plugin Version

[2020-06-04 18:54] vincentcau opened #69 "No Such Key error"
Hi i encounter this error on the sync.  And i discover that the probleme not arrived when i flush all assets in the s3.

S3 Sync: Syncing directories and S3 prefixes...
............
S3 Sync: Synced.
S3 Sync: Syncing metadata...

  No Such Key --------------------------------------------

  NoSuchKey: The specified key does not exist.
      at Request.extractError (/usr/lib/node_modules/serverless/

[2020-06-09 20:03] mmclafferty commented on #69
Experiencing the same issue here...

[2020-06-10 07:16] vincentcau commented on #69
I think the problem is in the S3. For the moment the hack is to delete all the folders and files in the S3 :/ like `aws s3 rm s3://my_s3 --recursive`

[2020-06-17 12:31] rachetfoot opened #70 "S3 sync fails if provider.region is a variable"
This means we have to duplicate variables in a mono-repo because the references to shared variables break s3-sync. It appears that s3-sync does not attempt to resolve the variable at all.

[2020-06-22 19:40] incompletude opened #71 "Documentation error"
I think this line

[code]

should be

[code]

[2020-07-02 16:16] williamsandonz commented on #70
This is also affecting me, basically provider.region: ${env:foo} is not resolved and the sync fails.
I've created PR [here](https://github.com/k1LoW/serverless-s3-sync/pull/72): Could we please get have this reviewed and merged?

[2020-07-15 10:29] majindageta opened #73 "Setting ContentType and ContentEncryption to file on s3"
Hello everyone,
i'm trying to set metadata to some files using this plugin.

[code]

unfortunately this is not working, the files still have the default metadata.

Folder structure in the bucket is
`    root -> public -> _FILES_   `

[2020-07-15 10:57] majindageta commented on #73
I'm sorry, don't know what happened in my previous configuration but now the files are correctly set.
Sorry to bother.

Have a nice day

[2020-07-15 10:57] #73 closed

[2020-07-30 18:38] telanniranga opened #74 "TypeError: Cannot read property 'length' of undefined"
Getting this error when use the s3Sync with python. Followiing is my yaml file.

`provider:
  name: aws
  runtime: python3.7
  region: ${opt:region, 'us-east-1'}

custom:
  s3Sync:
    - bucketName: abc
      localDir: localfiles

functions:
  hello:
    handler: handler.hello

plugins:
  - serverless-python-requirements
  - serverless-s3-sync`

[2020-08-30 03:35] ricokahler opened #76 "Error when renaming buckets "The bucket you tried to delete is not empty""
If I rename my bucket in my serverless config, it fails to delete the previous bucket causing the deploy to fail.

[code]

For more context, I am creating the bucket in the serverless config as well.

---

Is this behavior intended? Is there anyway I can work around this? Thanks for any guidance!

[2020-08-31 15:58] ciege7041 commented on #57
I have the same issue as the OP.

With the below configuration I get the contents of `data-files` in S3 in the `falcon/importer/dev/` bucket as well as the root bucket `swagger-documents.

[code]
    - bucketName: swagger-documents
      bucketPrefix: falcon/importer/${self:custom.myStage}
      localDir: data-files
      deleteRemoved: false # optional, indicates whether sync deletes files no lon

[2020-10-06 20:07] aaronhuisinga commented on #57
@k1LoW It does indeed appear this is a real issue. If params are defined in settings, the files are uploaded to both the root and `bucketPrefix` directory. If I remove the params config, the files are correctly only uploaded to the `bucketPrefix` directory.

[2020-10-07 00:48] k1LoW commented on #57
Thank you all !!

Now I'm lowering the development priority of this library.

If you are able to resolve this, we would encourage you to send a pull request.

[2020-10-21 20:53] judehunter commented on #48
I just encountered this issue with the bucket prefix option.
Can someone reopen this please?

[2021-01-02 17:18] marceliwac commented on #6
This issue should be resolved now, seeing as even the main README gives the solution?

[2021-01-03 05:46] k1LoW commented on #6
Thank you all!
I believe that the issue of this issue has been resolved. If you want to discuss it again, please re-open it.

[2021-01-03 05:46] #6 closed

[2021-01-05 23:35] theskillwithin opened #77 "SPA with react + react-router"
Is there a way to configure this for use with a Single Page Application.  Currently using react-router and if you refresh a route or link to a route other than root it sends the page as a 404.  It appears to work for the user because ErrorDocument also points to index.html, however if you open up the console you can see it is serving it as a 404 page

[2021-01-12 21:01] ipatka commented on #77
Yes, I've managed to get this working but it takes a few steps.

First, remove the .html suffix from all files except index.html

[code]

However this will cause the content-type to be wrong in S3 so you have to specify defaultContentType

serverless.yml
[code]

Now you'll have an issue where your js and css files are type html, so you have to separate those out first. In my case I'm exporting a n

[2021-01-13 03:23] theskillwithin commented on #77
@ipatka thanks but I believe the nextjs static generation is similar to gatsby where its generating static html files.  I am doing a very straight forward old school react SPA where there is only 1 html file.  no html files are generated.  so I am afraid your method won't work for me.  Thank you tho!

[2021-02-03 17:47] clay-spfmlp commented on #70
It looks like `provider.getCredentials().region` always returns undefined no matter what you have region set to. We are trying to deploy to aws gov cloud and it breaks the whole deployment. If we replace `provider.getCredentials().region` with `provider.getRegion()`, it works.

[2021-02-03 17:58] redstone78 opened #78 "AWS provider.region not set"
in index.js on line 77 we are not setting the region, we need to update it like this below so that we can get the region:

[code]

[2021-02-04 01:33] #70 closed

[2021-02-12 02:39] kking124 commented on #78
it should probably be something like:

[code]

this would allow the config to supersede any default region in the credentials. Thoughts?

[2021-02-12 02:43] redstone78 commented on #78
Yeah that should work.

[2021-02-12 02:52] kking124 commented on #78
see https://github.com/k1LoW/serverless-s3-sync/pull/80

[2021-02-15 01:26] #78 closed

[2021-03-12 15:18] telanniranga commented on #74
Do you have any resolution for this issue?

[2021-04-21 09:27] comandrei commented on #69
Still happens when syncing small directories and/or directories with . in their name

 Your Environment Information ---------------------------
     Operating System:          darwin
     Node Version:              15.14.0
     Framework Version:         2.29.0 (local)
     Plugin Version:            4.5.3
     SDK Version:               n/a
     Components Version:        3.9.0

[2021-04-21 21:20] alonaddy commented on #74
I am getting the same thing :-(

[2021-04-21 21:38] telanniranga commented on #74
Since I was not able to get a resolution for this, I used a different approach.

I used this plugin https://www.npmjs.com/package/serverless-scriptable-plugin and that will help you as well. This is more flexible and you can run any command based on serverless events.

[2021-04-22 22:29] Christop406 commented on #18
I also have seen this issue today

[2021-04-27 12:39] asabi commented on #74
Interesting, I use `serverless-s3-deploy`. Works really well.

hope that helps someone.

[2021-05-28 14:29] DimiF4W opened #85 "Files uploaded twice with bucketPrefix"
Hi guys,

Im a new user of s3sync with serverless but I noticed my files are uploaded 2 times if I use bucketPrefix.
My files are always uploaded in the root AND in the bucketPrefix/folder.

[code]

This results in a /assets/xxx.json file AND a /xxx.json file.
If I remove files and deleteRemoved is enabled, only the files in the  bucketPrefix folder are removed, the files in the root are not remov

[2021-05-28 14:49] DimiF4W commented on #85
When you remove `params` it works as expected, so a bug I assume when using params and bucketPrefix together?

[2021-05-28 14:51] DimiF4W commented on #85
Duplicate of https://github.com/k1LoW/serverless-s3-sync/issues/57

[2021-05-28 14:51] #85 closed

[2021-06-09 14:28] patrickbussmann opened #86 "bucketPrefix uploads one file too much (not in localDir)"
Very small serverless.yml:

[code]

Deployment works successful.

[code]

And then I have one file too much in my bucket.

[code]

Everything **fine** except the `manifest.json` which is in root directory.
But I used the `bucketPrefix` so that this shouldn't happen.

The timestamp is like the others. When I remove the file manually and run `sls deploy` again the file is again there.

Maybe there i

[2021-06-26 14:49] luigidragone96 opened #87 "Serverless Deprecation warning"
Hi,
with the latest version of serverless framework a warning message appears with the text:

ced options:
             - ServerlessS3Sync for "bucket"
            Please report this issue in plugin issue tracker.
            Starting with next major release, this will be communicated with a thrown error.
            More Info: https://www.serverless.com/framework/docs/deprecations/#CLI_OPTIONS_SC

[2021-07-23 11:36] medikoo commented on #87
That issue can be closed, as it looks as addressed and published

[2021-08-11 06:48] mbilalg opened #88 "Cannot read property 'defaultEncoding'"
I had installed the plugin by following command in serverless 2.53.1.

npm install --save-dev serverless-s3-sync

After installing I had imported the plugin like this in serverless.yml

plugins:
  - serverless-plugin-common-excludes
  - serverless-plugin-include-dependencies
  - serverless-python-requirements
  - serverless-s3-sync

But (serverless deploy) is giving the following error. Screenshot

[2021-09-19 23:08] oedemis opened #89 "timeout on sync folder with folder around 300mb"
following exception i have no idea what the problem is:

Error: callback called twice
      at onCb (/Users/dev/Desktop/tmp/varintui-s3/node_modules/pend/index.js:36:23)
      at Response.<anonymous> (/Users/dev/...../node_modules/@auth0/s3/lib/index.js:308:11)
      at Request.<anonymous> (/usr/local/lib/node_modules/serverless/node_modules/aws-sdk/lib/request.js:369:18)
      at Request.callList

[2021-09-19 23:09] oedemis commented on #18
+

[2021-09-21 13:27] DBankx opened #90 "TypeError: Cannot read property 'hasOwnProperty' of undefined at serverlessS3Sync.sync"
Hi, i am trying to deploy my react app frontend application using serverless and the serverlessS3Sync plugin and upon running the command sls deploy -v, everything works fine up until the end and it throws the error

`Type Error ----------------------------------------------
 TypeError: Cannot read property 'hasOwnProperty' of undefined
      at ServerlessS3Sync.sync (/Users/dami/dev/capitack/capi

[2021-09-26 21:49] ianzone opened #91 "No Such Tag Set error"
Hi there, I was trying to tag my bucket using "bucketTags", but I got error below:

S3 Sync: Syncing directories and S3 prefixes...
.
S3 Sync: Synced.
S3 Sync: Syncing metadata...
.
S3 Sync: Synced metadata.
S3 Sync: Updating bucket tags...

 No Such Tag Set -----------------------------------------

  NoSuchTagSet: The TagSet does not exist
      at Request.extractError (/usr/local/lib/node_modul

[2021-10-07 20:44] a-marcel opened #92 "deleteRemoved: false is not working always"
Hello,

i figured out that there is an issue, if one directory has the option `deletedRemoved: true` and all other are using `deletedRemoved: false`.

[code]

some files of the other configurations will be deleted even if they are configured with `deleteRemoved: false`.

After i set the last one to false. it works like expected.

I was trying to dig deeper but didn't found the exact issue in your

[2021-11-05 14:21] mnapoli opened #95 "Serverless Framework v3: new design & how to integrate"
Hi 👋 , Serverless Framework core team here!

We're working on the v3 beta version right now. The v3 will include a redesigned CLI output:

<img width="400" alt="image" src="https://user-images.githubusercontent.com/720328/139266855-7c0c15e1-9201-48b6-92f0-db6af2da4d11.png">

You can try the v3 beta with: `npm i serverless@pre-3`

To help plugins integrate with that new design (and build a great us

[2021-11-19 18:06] felipeespitalher commented on #88
I'm facing same problem ... could you fix it ?

[2021-11-19 18:08] felipeespitalher commented on #74
I'm facing same problem  and since `serverless-s3-deploy` is not maintained anymore ... could you fix it ?

[2021-12-09 15:22] mklenbw commented on #88
It's probably realted to the version of graceful-fs.
The dependency @auth0/s3@1.0.0 of this plugin uses an old version (4.1.5) and the other plugins use graceful-fs@^4.2.0.
This mismatch could lead to the problem.

[2022-01-21 05:46] dengmingtong opened #98 "s3Sync operation cause IllegalLocationConstraintException"
Hello,
I am using serverless s3Sync to copy local file to aws s3 in HongKong(ap-east-1) region, I got below error:

IllegalLocationConstraintException: The ap-east-1 location constraint is incompatible for the region specific endpoint this request was sent to.
      at Request.extractError (/home/ec2-user/environment/gcr-solutions/service-workbench-on-aws/node_modules/.pnpm/aws-sdk@2.721.0/node_mo

[2022-02-03 16:56] coyoteecd commented on #76
@ricokahler I know is 1.5 years late, but I had the same issue and resorted to adding the functionality in another plugin (serverless-s3-remover, which is unmaintained and I migrated to https://github.com/coyoteecd/serverless-s3-cleaner

You have there a `bucketsToCleanOnDeploy` option which you can use with the "old" bucket name.
To prevent serverless-s3-sync plugin from conflicting with the clea

[2022-02-08 10:29] coyoteecd commented on #95
@k1LoW would you accept a PR that changes the logging mechanism to use the new Serverless v3 API, and release a major version with it? I am using this plugin and the CLI output is now out-of-place when deploying a stack using Serverless v3.

General outline of the changes:
- use new "progress" for sync bucket operations (files/metadata/tags)
- use cli verbose logging (and a success line when done)

[2022-02-08 10:42] coyoteecd commented on #92
@a-marcel  your issue is that the bucket prefix of the last entry **includes** the bucket entries synced by the previous 3 entries. The deleteRemoved flag is passed as-is to the S3 client, and it does what it's supposed to do (i.e. delete all files that start with bucketPrefix, that are not in the local dir).

The fact that all the uploading is done in parallel explains why the issue occurs for "s

[2022-02-09 01:03] k1LoW commented on #95
@coyoteecd Thank you.

Yes. I may be slow to respond, but if I get a PR from you, I'll make sure to release it as v3.

[2022-02-15 14:01] coyoteecd commented on #95
@k1LoW I submitted a PR with the proposed changes, could you review and publish it?

[2022-02-26 11:34] #95 closed

[2022-02-28 14:21] majindageta commented on #57
This looks closed by the merge of https://github.com/k1LoW/serverless-s3-sync/pull/94
(and i'm so happy my s3 bucket is so much clean)

[2022-03-18 09:03] kash66 commented on #18
same. it seems it was inside the [aws sdk](https://github.com/aws/aws-sdk-js/issues/1056) for some time.

[2022-04-11 17:47] amang95 commented on #23
Hi there. Was this issue ever fixed and released in newer versions?

[2022-04-12 16:20] amang95 opened #103 "Multipart uploads aren't successful"
I have seen this issue around `Error: ETag does not match MD5 checksum` being discussed on some PRs.
The above does not seem to be an issue when the object is uploaded as a single request.

But when an object size is large enough to require a multi-part upload, the process errors out with the above error in between uploading parts and hence the file isn't synced to S3 bucket.

For my instance, the

[2022-07-21 16:10] marc-axonista commented on #90
@sreerammeka Be sure to have a s3Sync under the custom section and note the capital "S" in s3Sync.

[2022-10-31 19:57] sgerlach commented on #88
Anyone else that runs into this, seems to be a conflict between
  - serverless-python-requirements
  - serverless-s3-sync

To fix it, I tweaked package.json to pin the underlying dependency to 4.2.8 and make this work.

`...
  "resolutions": {
    "graceful-fs": "4.2.8"
  },
  "scripts": {
    "test": "none",
    "preinstall": "npx npm-force-resolutions"
  },
...
`

[2022-11-08 12:23] cbarlow1993 opened #107 "IAM Permissions needed to deploy and sync stack"
I'm trying to identify which IAM permissions are needed to deploy this stack. I can deploy with full admin rights but not with limited.

I have the correct permissions to deploy the stack to cloud formation and all the resources, but it consistently fails when trying to sync the resources and I've burnt too many hours now trying to identify which is needed. (AWS doesn't seem to help with identifyi

[2022-11-16 07:31] ChristianRich1 commented on #3
This worked for me:

[code]

[2022-11-17 20:51] TimLudwinski commented on #23
I just got this error today so I don't think it's been fixed.